PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<db-name>
REDIS_URL=redis://default:<password>@<host>:<port>
JWT_SECRET=your_jwt_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
FB_PAGE_ID=your_fb_page_id
FB_PAGE_ACCESS_TOKEN=your_fb_access_token
IG_USER_ID=your_instagram_user_id
IG_ACCESS_TOKEN=your_instagram_access_token
